* {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: linear-gradient(90deg, pink, red);
}

#mainHeading {
  text-align: center;
  font-weight: 900;
  font-size: 45px;
  margin-bottom: 12px;
}

.adderContainer {
  display: flex;
  justify-content: center;
}

.btn {
  border: transparent;
  width: 30px;
  margin-left: 4px;
}

.btnCompleted {
  border: transparent;
  width: 30px;
  margin-left: 4px;
  color: white;
  background-color: green;
  transition: background-color 2s, color 2s;
}

.btnDeleted {
  border: transparent;
  width: 30px;
  margin-left: 4px;
  color: white;
  background-color: green;
}

.btnDeleted:hover {
  border: transparent;
  width: 30px;
  margin-left: 4px;
  color: white;
  background-color: red;
}

.btn:hover {
  border: 2px solid white;
  background-color: transparent;
}

#adderInput {
  width: 50vw;
  height: 26px;
  padding: 2px;
  border: transparent;
  text-align: center;
  font-size: 18px;
}

.taskList {
  margin: 20px;
  padding: 6px;
  height: 60vh;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#taskempty {
  display: block;
}

.noTask {
  display: none;
}

.task {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#taskEle {
  display: flex;
  justify-content: center;
  margin: 6px;
}

#taskContent {
  width: 52vw;
  padding: 2px;
  border: none;
  text-align: center;
  font-size: 18px;
}

#alertOuterNone {
  display: none;
}

#alertOuter {
  position: absolute;
  top: -100px;
  width: 100%;
  display: flex;
  justify-content: center;
  animation: alerter;
  animation-duration: 5s;
}

#alertDialog {
  color: white;
  font-size: 24px;
  width: 75vw;
  margin-right: 6px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 2px solid white;
  background-image: linear-gradient(45deg, pink, violet);
}

#closeBtn {
  font-size: 28px;
  padding: 12px;
  border-radius: 8px;
  border: 2px solid white;
  background-color: transparent;
}

@keyframes alerter {
  0% {
    top: -100px;
  }
  15% {
    top: 0px;
  }
  75% {
    top: 0px;
  }
  100% {
    top: -100px;
  }
}

.dieBtn {
  border: transparent;
  width: 30px;
  margin-left: 4px;
  color: transparent;
  background-color: transparent;
  transition: color 2s, background-color 2s;
}
